<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Register a new account</p>
<div>
    <form action="#"  th:action="@{/register}" th:object="${user}" method="post">
        <label>Username</label>
        <input type="text" th:object="${username}" placeholder="User name"/>
        <p><label>Password</label>
            <input type="text" th:object="*{password}" placeholder="password"/>
        </p>
        <div class="form-actions">
            <button type="submit" class="btn">Зарегестрироваться</button>
        </div>
    </form>
</div>
</body>
</html>